
<div class="row">  
  <div class="col-md-7">
	<h2>New Ticket</h2>

	<%= render "form.html", changeset: @changeset,
	                        action: ticket_path(@conn, :create) %>

	<span><%= link "Back", to: ticket_path(@conn, :index), class: "btn btn-default btn-xs" %></span>
  </div>
</div>